/* logo: font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
400 500 700 900
*/


body {
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}

/* header */
.logo-header {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0.03em;
    font-size: 20px;
}

.header-left h2 {
    text-decoration: none;
    color: #212121;
}

.logo-blue {
    color: #2196F3;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #212121;
}

a:hover {
    color:#2196F3;
}

.nav-item {
    font-weight: 500;
    font-size: 14px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.nav-contact-item {
    font-weight: 500;
    font-size: 14px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.nav-contact-item, .feature-p, .member-job, .footer-contact {
    color: #757575;
}

/* header main */
.header {
    background-color: #2F303A;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

.header button {
    background-color:#2196F3;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    border: solid #2196F3 ;
    border-radius: 4px;
    width: 216px;
    height: 50px;
}

.container {
    width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
}

hr {
    border: #ECECEC 0.5px solid;
    margin: 0;
}

.header-block {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    width: 300px;
    display: flex;
    justify-content: space-between;
}


nav ul {
    width: 280px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

/* features */

.features {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1140px;
    margin: 94px auto;
}

.features ul {
    width: 1170px;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.feature-block {
    width: 270px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.feature-h {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.feature-p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

/* what are we doing */
.our-work {
    width: 1170px;
    margin: 0 auto;
}

.work-container {
    display: flex;
    justify-content: space-between;
    margin: 0 0 100px 0;
}

.our-work h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0 0 50px 0;
}

/* our team */
.our-team {
    background-color: #F5F4FA;
    padding: 94px 0;
    margin: 0;
}

.team-members {
    width: 1170px;
    margin: 0 auto 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-team h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em; 
    color: #212121;
    margin: 0 0 50px 0;
}

.team-portret {
    width: 270px;
    height: 260px;
}

.team-members li {
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-members h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-members h4 {
    font-weight: 400;
    line-height: 19px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;

color: #757575;
}

/* footer */
footer h2 {
    margin: 0;
}
.logo-footer {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

.adress {
    color: white;
    font-style: normal;
}

footer {
    background-color: #2F303A;
    padding: 60px 215px;
}


address {
    height: 81px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px 0;
    font-style: normal;
}



/* portfolio */

.portfolio-menu {
    display: flex;
    justify-content: space-between;
    width: 570px;
    margin: 94px auto 34px;
}

.portfolio-menu button {
    font-weight: 500;
    background-color:#F5F4FA;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.portfolio-menu button:hover {
    background-color:#2196F3;
    color: white;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list ul {
    border: 1px solid #EEEEEE;
    margin: 0 0 30px 0;
    padding: 0;
}

.portfolio-list h3 {
    padding: 20px 24px 2px;
    margin: 0;
}

.portfolio-list h4 {
    padding: 2px 24px 20px;
    margin: 0;
}

.portfolio-h {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px; 
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio-kind {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
}

.portfolio-list {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
